/* For paragraph */
p{
  font-family: Roboto,Arial;
  margin-top:0;
  margin-bottom: 0;
}
body{
  margin: 0;
  /* Adding padding for inside- spacing */
  padding-top: 80px;
  padding-left: 96px;
  padding-right:24px;
  background-color: rgb(248,248,248);
}
/*To make sure that the description of video remains black after visiting the link attached with it*/
a {
  text-decoration: none;
}

a:link, a:visited {
    color: black;
}

